.page-home {
    .kekraf-new-products {
        .store {
            font-weight: 500;
            font-size: 20px;
            color: color("secondary");
        }
        .store-text {
            font-size: 16px;
            color: color("tertiary");
        }
    }
}
